/* Add CSS styling here */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
html{
    font-size:62.5%; /* equal to 10px */
}

body{
     background-color: #63A1EA;
     font-family: 'Squada One', cursive;
     margin: 0 auto;  
 }


/* Header Styles */  

h1{
    padding:2px;
    font-size: 30px;
}

.links{
    display:flex;
    justify-content: flex-end;
    margin:10px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a{
    padding: 10px 40px;
    text-decoration: none;
}

a.button{
    display:inline-block;
    padding:2rem 4rem;
    border:.1rem solid #FFFFFF;
    margin:0 1.6rem 1.6rem 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 1.5rem;
    color:#FFFFFF;
    text-align:center;
    }
a.button:hover{
    display:inline-block;
    padding:2rem 4rem;
    border:.2rem solid gray;
    margin:0 1rem 1rem 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 1.5rem;
    color:#FFFFFF;
    text-align:center;
    }

/* About Section Styles */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.large-img{
    background:url(https://images.unsplash.com/photo-1582146821090-db3a1c6390b8?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80) top right no-repeat; background-attachment:fixed;
}

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: absolute;
    font-size: 50px;
    font-family: 'Squada One', cursive;
    margin-bottom: 15%;
}

h3{
    margin:40px;
}

h4{
    text-align: center;
    margin: 0 0 50px 0;
    font-size:2.6rem;
}


.projects-container{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    margin: 0 auto;
    padding: 1% 0;
}



/* Footer Styles  */

.bottom .contact{
    display:flex;
    justify-content: center;
    padding: 5px;
    margin: 20px;
    font-size: 2rem;
}
.socials{
    display:flex;
    justify-content: center;
    align-items: center;
}